:root {
    --themeColor:#f3f2fc;
    --textColor: #ffff;
    --bgColor: #f8b4bf ;
    --darkColor: #FB4570;
    --navbarColor: #000000bd;
}
* 
{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: var(--themeColor) ! important;
}

.navbarBg{
    background-color:var(--navbarColor) ! important;
    color: var(--textColor) ! important;
}