*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--bgColor) ;
    
}
:root {
    --themeColor: #FB6B90 ;
    --textColor: white;
    --bgColor: #f8b4bf ;
    --darkColor: #FB4570;
}
 #quantity {
    font-size: 80px;
    margin-left: 45px;
 }
 #btn01 {
    font-size: 90px;
    border: none;
    margin-left: 30px;
 }
 #btn02 {
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #FB4570;
    border: 1px solid var(--darkColor) ;
 }
 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
 }
 #quantity01  {
    font-size: 80px;
    margin-left: 45px;
 }
 #btn03 {
    font-size: 90px;
    border: none;
    margin-left: 30px;
 }
 #btn04 {
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #FB4570;
    border: 1px solid var(--darkColor) ;
 }
.img {
    background-color: #FB6B90;
}
 