*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--bgColor) ;
    
}
:root {
    --themeColor: #FB6B90 ;
    --textColor: white;
    --bgColor: #f8b4bf ;
    --darkColor: #FB4570;
}
 #quantity {
    font-size: 80px;
    margin-left: 45%;
 }
 #btn01 {
   font-size: 90px;
   border: 2px solid red;
   background-color: #f97795;
   color: white;
   border-radius: 10px;
   padding-left:25px ;
   padding-right:25px ;
   margin-left: 50px;
   margin-top: 40PX;
}
 #btn02 {
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #FB4570;
    border: 1px solid var(--darkColor) ;
 }
 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
 }
 #quantity01  {
    font-size: 80px;
    margin-left: 45%;
  
 }
 #btn03 {
    font-size: 90px;
    border: 2px solid red;
    background-color: #f97795;
    color: white;
    border-radius: 10px;
    padding-left:25px ;
    padding-right:25px ;
    margin-left: 50px;
    margin-top: 40PX;
 }
 #btn04 {
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #FB4570;
    border: 1px solid var(--darkColor) ;
 }
.img {
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px palevioletred;
}

h1 {
   margin-left: 50px;
    font-size: 55px;
    color: #ec0b40;
    margin-bottom: 40px;
}
 