*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.card{
    height: 500px;
    background-color: tomato;
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 30px;
    
}
.img{
    display: block;
    margin: 0 auto;
    
}