*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.imggallery{
    background-color:#FB8DA0 ;
    height: 100vh;
    width: 100%;
    position: relative;
}
.productimg{
     height: 500px;
    position: absolute;
    top:10vh;
    left: 50%;
   
   

}
.similar{
    padding-top: 70px;
}

.similarimges{
    height: 90px;
    display: block;
    margin:0  40vw;
    padding: 5px 0;
  
   
  
    
   
}

